<%- include ("partials/header") %>
<div>
    <div class="soleil" id="soleil"></div>
</div>
<div id="background" class="background"></div>
<div id="fbackground" class="fbackground"></div>
 <!-- Start of main content -->
 <main class="container">
<article class="home_content">
    <h1 class="titreH1" id="titleh1">Vous êtes fan d'Harry Potter?</h1>
    <p class="home_text">
        Ça tombe bien nous aussi ! Alors prenez plaisir à découvrir le monde d’Harry Potter, grâce à de nombreuses informations sur notre jeune héros préféré! Et si vous vous sentez l’âme d’un champion, intégrer l’une des quatres maisons de Poudlard, et remportez la coupe avec vos camarades en répondant à notre quiz ! Mais avant cela, il faut passer par l’étape du Choixpeau Magique, alors enfourchez votre balais et direction l’inscription !</p>
    <a class="btn login_button">                        
        <img src="../images/hiboux.svg" class="hiboux_ico" alt="icone hiboux blanc">
        S'inscrire
    </a>
</article>

        <%- include('partials/footer') %>
